@font-face {
    font-family: 'calligraphy';
    src: url('@/assets/fonts/LucidaUnicodeCalligraphy.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'calligraphy';
    src: url('@/assets/fonts/LucidaUnicodeCalligraphyBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
